:root {
    // radius
    --radius: 0.25em; // border radius base size
}

// custom ajax content loader
.custom-ajax-frame-loader {
    text-align: center;
    padding: 1rem;
    background-color: inherit;
}

// fix for dropdown behind table content
.int-table {
    overflow: visible !important;
}

// admin sidebar border color
.border-right-sidebar { border-right: 1px solid alpha(var(--color-contrast-lower), var(--border-o, 1)); }

.btn-sub-nav { // basic button style
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    font-size: var(--btn-font-size, 0.2em);
    padding-top: var(--btn-padding-y, 22em);
    padding-bottom: var(--btn-padding-y, 0.5em);
    padding-left: var(--btn-padding-x, 0.75em);
    padding-right: var(--btn-padding-x, 0.75em);
    border-radius: var(--btn-radius, 0.25em);
  }